{% extends "shared/add_resident_husband.html" %}

{% block userinfo %}
<div class="user-info">
    <h6 class="username">Username</h6>
    <h6 class="role">Barangay Treasurer</h6>
</div>
{% endblock %}


{% block nav_menu %}
<div class="nav-menu">
    <a href="{% url 'Tdashboard' %}" class="{% if request.resolver_match.url_name == 'Tdashboard' %}active{% endif %}">Dashboard</a>
    <a href="{% url 'Tresidents' %}" class="{% if request.resolver_match.url_name == 'Tresidents' %}active{% endif %}">Residents</a>
    <a href="{% url 'Tpayments' %}" class="{% if request.resolver_match.url_name == 'Tpayments' %}active{% endif %}">Payment</a>
    <a href="{% url 'Torganization'%}" class="{% if request.resolver_match.url_name == 'Tusers' %}active{% endif %}">Organization</a>
    <a href="{% url 'Tusers'%}" class="{% if request.resolver_match.url_name == 'Tusers' %}active{% endif %}">Users</a>
    <a href="{% url 'Tlogs' %}" class="{% if request.resolver_match.url_name == 'Tlogs' %}active{% endif %}">Logs</a>    
</div>
{% endblock %}



{% block back-btns %}
    <a  href="{% url 'TaddResident_details' %}" class="cancel-btn">Back</a>
    <a href="{% url 'Tresidents'%}" class="next-btn">Done</a>
{% endblock%}