<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasurer</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'polls/image/LOGO.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'polls/css/MainHeader.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="Main_header">
        <div class="userdetails">
            <h6 class="username">Username</h6>
            <h6 class="role">Barangay Treasurer</h6>
        </div>
        <h1 class="tittle">Barangay Suba Management System</h1>
        <p>Wed, 10/10/10 12:00 PM</p>
    </div>

    <div class="Body">
        <nav class="nav-menu">
            <a href="#" >Dashboard</a>
            <a href="#" class="active">Residents</a>
            <a href="#">Payment</a>
            <a href="#">Organization</a>
            <a href="#">Users</a>
            <a href="#">Logs</a>
        </nav>
    </div>
</body>
</html>