{% extends "shared/resident_details.html" %}

<p>This is the child template's nav menu.</p>

{% block nav_menu %}
<div class="nav-menu">
    <a href="{% url 'Tdashboard' %}" class="{% if request.resolver_match.url_name == 'Tdashboard' %}active{% endif %}">Dashboard</a>
    <a href="{% url 'Tresidents' %}" class="{% if request.resolver_match.url_name == 'Tresidents' %}active{% endif %}">Residents</a>
    <a href="#">Payment</a>
    <a href="#">Organization</a>
    <a href="{% url 'Tusers'%}" class="{% if request.resolver_match.url_name == 'Tusers' %}active{% endif %}">Users</a>
    <a href="{% url 'Tlogs' %}" class="{% if request.resolver_match.url_name == 'Tlogs' %}active{% endif %}">Logs</a>    

</div>
{% endblock %}


{% block back-btns %}
<a  href="{% url 'Tresidents' %}" class="cancel-btn">Cancel</a>
{% if 'Single' == 'Married' or 'Single' == 'Divorced' or 'Single' == 'Widowed' %}
<a href="{% url 'Tresident_husband' %}" class="next-btn">View Husband's</a>
{% else %}
<a href="{% url 'Tresident_parents' %}" class="next-btn">View Parents'</a>
{% endif %}   
{% endblock %}
