<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barangay Suba Mangement System</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'polls/image/LOGO.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'polls/css/MainHeader.css'%}">
    <link rel="stylesheet" href="{%static 'polls/css/Tresident.css'%}">
    <!-- <link rel="stylesheet" href="{%static 'polls/css/TresidentAdd_details.css'%}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="Main_header">
        <div class="userdetails">
            <img src="{% static 'polls/image/LOGO.ico' %}" alt="User Profile Picture" class="user-image">
            <div class="user-info">
                <h6 class="username">Username</h6>
                <h6 class="role">Barangay Treasurer</h6>
            </div>
        </div>
        <h1 class="tittle">Barangay Suba Management System</h1>
        <p>Wed, 10/10/10 12:00 PM</p>
    </div>

    <div class="Body">
        <div class="menu">
            <div class="nav-menu">
                <a href="{% url 'Tdashboard' %}" class="{% if request.resolver_match.url_name == 'Tdashboard' %}active{% endif %}">Dashboard</a>
                <a href="{% url 'Tresidents' %}" class="{% if request.resolver_match.url_name == 'Tresidents' %}active{% endif %}">Residents</a>
            </div>
            <div class="logout">
                <a href="#" class="logout-btn">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
        <div class="search-container">
            
            <form action="" method="get">
                <div class="search-left">
                    <input type="text" id="searchInput" name="search" class="Txt_Search" placeholder="Search Resident">
                    <i class="fas fa-search"></i>  
                    <button type="button" class="filter btn" id="filterButton">Filter by Household</button>                                   
                    <select id="" class="filter" name="org">
                        <option value="" >Filter by Organization</option>
                        <option value="women">Women</option>
                        <option value="erpat">Erpat</option>
                        <option value="senior-citizen">Senior Citizen</option>
                        <option value="pwd">PWD</option>
                        <option value="lgbtq">LGBTQ</option>
                        <option value="children">Children</option>
                    </select>
                    <!-- enable this when it's only filtered by children  -->
                    <select id="" class="filter" name="age">
                        <option value="">Filter by Age</option>
                        <option value="">0-28 dys</option>
                        <option value="">29 dys-11 mo.</option>
                        <option value="">1 - 4 y/o</option>
                        <option value="">5 - 9 y/o</option>
                    </select>
                </div>
                
            </form>
            
        </div>

        
        <div class="tre_table-container">
            <div class="buttons_treasurer_table"> 
                <button id="deselect-all" class="button-org deselect-res" onclick="deselectAllRes()">Deselect All</button>
                <button id="add-org-all" class="button-org add"  onclick="openAddOrgModal()">Add Organization</button>
                <button id="update-org-all" class="button-org update" onclick="openAddOrgModal()">Update Organization</button>
                <button id="delete-org-all" class="button-org delete">Delete Organization</button>
            </div>
            <table class="tre_resident-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="" class="all-resident" id="select-all-res" onclick="toggleAllCheckboxesResident_treasurer(this)"></th>
                        <th>RESIDENT ID</th>
                        <th>HOUSEHOLD ID</th>
                        <th>LAST NAME</th>
                        <th>FIRST NAME</th>
                        <th>MIDDLE NAME</th>
                        <th>ORGANIZATION</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" class="select-row-checkbox" id="select-row-checkbox" onclick="toggleButtons_Treasurer()"></td>
                        <td class="" id="no">5</td>
                        <td id="householdid">67</td>
                        <td class="" id="lname">PADILLA</td>
                        <td class="" id="fname">YRON</td>
                        <td class="" id="mname">IGOT</td>
                        <td id="orgname">Erpats</td>
                        <td class="">
                            <!-- Resident Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_details' %}" class="action-btn view"><i class="fas fa-user"></i></a> 
                            </button>

                            <!-- Household Details Button -->
                            <button class="action-btn">
                                <a href="{% url 'Resident_household_details'%}" class="action-btn view"><i class="fas fa-home"></i></a>
                            </button>

                            <!-- Edit Button -->
                            <button class="action-btn">
                                <a href="#" class="action-btn edit"><i class="fas fa-edit"></i></a>
                            </button>
                            
                        </td>

                    </tr>
                </tbody>
            </table>
            <div class="footer">
                <button class="generate-reports">Generate Reports</button>
                <p>Total Residents: 826920897</p>
            </div>
        </div>
        
    </div>

    <div id="logout-modal" class="logout-modal">
        <div class="logout-modal-content">
            <span class="close-logout-btn">&times;</span>
            <h2>Logout Confirmation</h2>
            <p>Are you sure you want to log out?</p>
            <div class="logout-modal-actions">
                <a href="#" id="logout-confirm" class="confirm-logout-btn">Yes, Logout</a>
                <button id="logout-cancel" class="cancel-logout-btn">No, Cancel</button>
            </div>
        </div>
    </div>

    <script src="{% static 'polls/js/logoutModal.js' %}"></script>
    <script src="{% static 'polls/js/Buttons.js' %}"></script>

</body>
</html>