<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barangay Suba Mangement System</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'polls/image/LOGO.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'polls/css/MainHeader.css'%}">
    <link rel="stylesheet" href="{%static 'polls/css/TresidentAdd_details.css'%}">
    <script src="{% static 'polls/js/logoutModal.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <div class="Main_header">
        <div class="userdetails">
            <img src="{% static 'polls/image/LOGO.ico' %}" alt="User Profile Picture" class="user-image">
            {% block userinfo %}
            {% endblock %}
        </div>
        <h1 class="tittle">Barangay Suba Management System</h1>
        <p>Wed, 10/10/10 12:00 PM</p>
    </div>

    <div class="Body">
        <div class="menu">
            {% block nav_menu %}{% endblock %}
            <div class="logout">
                <a href="" class="logout-btn">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>

        <h1 class="section-title">Update Resident</h1>
        <form class="resident-form">
            <div class="form-group">
                <label for="SchoolLevel">School Level</label>
                <select name="school_level">
                    <option value=""></option>
                    <option value="Nursery">Nursery</option>
                    <option value="Elementary">Elementary</option>
                    <option value="Junior High School">Junior High School</option>
                    <option value="Senior High School">Senior High School</option>
                    <option value="Undergraduate (Bachelor’s Degree)">Undergraduate (Bachelor’s Degree)</option>
                    <option value="Postgraduate (Master’s Degree)">Postgraduate (Master’s Degree)</option>
                    <option value="Doctoral (PhD)">Doctoral (PhD)</option>
                    <option value="Alternative Learning System (ALS)">Alternative Learning System (ALS)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="SchoolName">School Name</label>
                <input type="text" id="schoolName" value="Cebu Technological University">
            </div>
            <div class="form-group">
                <label for="SchoolAddress">School Address</label>
                <input type="text" id="schoolAddress" value="MJ Cuenco">
            </div>
            <div class="form-group">
                <label for="Course">Course</label>
                <input type="text" id="course" value="BSIT" >
            </div>
            <div class="form-group">
                <label for="SchoolYear">School Year</label>
                <input type="text" id="schoolYear" value="2022-2023">
            </div>  

            <div class="form-actionss">
                {% block back-btns %}
                {% endblock%}
            </div>

        </form>
            </div>
        </div>
 
    
    <div id="logout-modal" class="logout-modal">
        <div class="logout-modal-content">
            <span class="close-logout-btn">&times;</span>
            <h2>Logout Confirmation</h2>
            <p>Are you sure you want to log out?</p>
            <div class="logout-modal-actions">
                <a href="#" id="logout-confirm" class="confirm-logout-btn">Yes, Logout</a>
                <button id="logout-cancel" class="cancel-logout-btn">No, Cancel</button>
            </div>
        </div>
    </div>

</body>
</html>