.modal {
    display: none;
    position: fixed;
    inset: 0; /* Ensures the modal is centered */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensures modal is above everything */
}

.modal-content {
    position: relative; /* Allows absolute positioning inside */
    background: #f5f5fa;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10000; /* Ensure content is above everything */
}

h2 {
    text-align: center; /* Centers the title */
    width: 100%;
    margin-bottom: 30px;
}

.form-label {
    margin-bottom: 7px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
/* input, textarea {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 2px;
    width: 99%;
} */
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.modal-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    width: 30%;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

.update, .add {
    background-color: rgba(2, 2, 87, 0.922); /* Same as .confirm-logout-btn */
}

.cancel {
    background-color: #6a6790ef; /* Same as .cancel-logout-btn */
}

.update:hover,
.cancel:hover ,
.add:hover{
    background-color: rgba(220, 220, 220, 0.806);
    color: rgba(2, 2, 87, 0.922);
}


.success-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50; /* Green color */
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}
 



.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
    transition: 0.3s;
}

.close-modal:hover {
    color: black;
}
    
.selectt {
    border: 2px solid  rgba(2, 2, 87, 0.922);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background: white;
    cursor: pointer;
    color: rgba(2, 2, 87, 0.922);
    
}


/* Success Modal Styling */
#successModal .modal-content {
    text-align: center;
    padding: 30px;
}

#successModal p {
    font-size: 16px;
    color: rgba(2, 2, 87, 0.922);
    margin-bottom: 20px;
}

.green-icon {
    font-size: 50px;
    color: green;
    margin-bottom: 15px;
  }