/* Search container */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* margin-left: 20px; */
    background-color: transparent;
    border-radius: 8px;
}

.search-left {
    position: relative; 
}

.Txt_Search {
    padding: 10px 10px 10px 35px; 
    font-size: 14px;
    font-family: 'Poppins', 'Sans-serif';
    font-weight: 500;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: none;
    border:none;
    color: rgba(2, 2, 87, 0.922);
}

.Txt_Search::placeholder {
    color: rgba(80, 80, 144, 0.922);
}

.Txt_Search:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.116);
}

.search-left i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: rgba(2, 2, 87, 0.922);
    font-size: 16px;
}

/* search-container */



/* .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 8px;
}

.search-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Txt_Search {
    padding: 10px;
    font-size: 14px;
    width: 250px;  
    height: 11px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: none;
    border:1px, #0056b3;
    color: rgba(2, 2, 87, 0.922);
}
.Txt_Search::placeholder{
    color: rgba(2, 2, 87, 0.922);
} */

.filter {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    color: rgba(2, 2, 87, 0.922);
    width: 200px;
    font-weight: 500;

}

.filter.btn{
    margin-left: 8px;
    border-radius: 8px;
    background-color: whitesmoke !important;
    box-shadow: none;
    border:none;
    width: 180px;
    height: 40px;
    font-family: 'Poppins', 'Sans-serif';
    font-weight: 500;
    color: rgba(80, 80, 144, 0.922);
}

.filter.btn:hover{
    color: rgba(2, 2, 87, 0.922);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.filter.btn.clicked {
    background-color: rgba(80, 80, 144, 0.922) !important;
    color: whitesmoke;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.age-filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    margin-top: -20px;
    background-color: transparent;
    color: rgba(2, 2, 87, 0.922);
    gap: 8px;
}

.age-filter-container h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 450;
}

.filter-age {
    font-size: 14px;
    padding: 5px;
    border: 1px solid rgba(2, 2, 87, 0.922);
    border-radius: 8px;
    color: rgba(2, 2, 87, 0.922);
    background-color: transparent;
    font-weight: 600;
    width: 150px; 
}

.filter-btn, .reset-btn{
    padding: 8px 10px;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: xx-small;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.filter-btn{
    background-color: rgba(32, 32, 100, 0.874);
}

.reset-btn{
    background-color: rgb(92, 92, 146);
}

.filter-btn:hover, .reset-btn:hover{
    background-color: rgba(220, 220, 220, 0.505);
    color: rgba(2, 2, 87, 0.922);
    transform: scale(1.02);

}


.delete-btns, .buttons_treasurer_table{
    /* margin-top: 5px; */
    margin-bottom: 20px;
}

.delete, .button-org{
    margin-right: 10px;
    display: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: smaller;
    cursor: pointer;
    color: gainsboro;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-org{
    padding: 13px 18px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: small;
    font-family: 'poppins', sans-serif;
}

.add{
    background-color: midnightblue;
}

.update{
    background-color: darkslateblue;
}

.deselect-res{
    background-color: transparent;
    border: 2px solid darkslateblue;
    color: darkslateblue;
}

.all, .button-org.delete{
    background-color: brown;
}

.deselect, .no{
    background-color:darkslateblue;
}

.one, .yes{
    background-color: rgb(2, 2, 87);
}


.deselect-res:hover, .update:hover, .add:hover, .button-org.delete:hover{
    transform: scale(1.05);
    background-color: ghostwhite;
    color: rgb(2, 2, 87);   
}

.deselect-res:hover{
    border-color: rgb(2, 2, 87);
}

.all:hover, .deselect:hover, .no:hover, .one:hover, .yes:hover{
    transform: scale(1.02);
}

.conf-delete{
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
    color: whitesmoke;
}

.confirmDeleteModalContainer{
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center;
}        
.confirmationModal{
   background: white; 
   padding: 25px; 
   border-radius: 8px; 
   text-align: center; 
   width: 300px;
}


/* 
.BTN_Search {
    padding: 10px 25px;
    background-color: rgba(2, 2, 87, 0.922);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.BTN_Search:hover {
    background-color: rgb(56, 56, 139);
}

.BTN_Search i {
    margin-right: 5px;  
} */

.add_resident, .add_users, .record_payment, .register_org{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.BTN_AddResident, .BTN_AddUsers, .BTN_RecordPayment, .BTN_Org{
    padding: 5px 15px;
    background-color: transparent;
    color: rgba(2, 2, 87, 0.922);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
    margin-bottom: -45px;
    transition: transform 0.3s ease, color 0.3s ease;
    
}

.BTN_AddResident:hover, .BTN_AddUsers:hover , .BTN_RecordPayment:hover, .BTN_Org:hover{
    color:gainsboro;
    transform: scale(1.05);
}

.BTN_AddResident i, .BTN_AddUsers i, .BTN_RecordPayment i, .BTN_Org i {
    margin-right: 5px;
    font-size: 30px;

}


.Body .tre_table-container{
    margin-bottom: 10px;
    padding: 10px;
    width: auto;
    overflow: hidden;
}

.tre_resident-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-top: -15px; 
    table-layout: fixed; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

   
}

.tre_resident-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.tre_resident-table tbody {
    display: block;
    max-height: 70vh; /* Adjust height as needed */
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.tre_resident-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: whitesmoke;

}


.tre_resident-table tbody tr:nth-child(even) {
    background-color: #f9f9f9d3;
}

.tre_resident-table th, 
.tre_resident-table td {
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tre_resident-table th {
    background-color: rgba(2, 2, 87, 0.922);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border:none;
    padding:20px;

}

.tre_resident-table td{
    background-color: transparent;
    color: rgba(2, 2, 87, 0.922);
    text-transform: capitalize;
    font-weight: 500;
    font-size: medium;
    border: 1.5px solid rgb(84, 79, 142);
}

.tre_resident-table th:first-child, 
.tre_resident-table td:first-child {
    width: 40px;
}

.tre_resident-table th:nth-child(2),
.tre_resident-table td:nth-child(2) {
    width: 100px;
}

.tre_resident-table th:nth-child(3),
.tre_resident-table td:nth-child(3) {
    width: 120px;
}


.tre_resident-table th:last-child,
.tre_resident-table td:last-child {
    width: 200px;
}

.tre_resident-table th input[type="checkbox"],
.tre_resident-table td input[type="checkbox"] {
    cursor: pointer;
    border: none;
    transform: scale(1.3);

}


.tre_resident-table tbody tr:hover {
    background-color: rgba(183, 183, 252, 0.516);
    cursor: pointer;
}


.actions-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: none;
}

.action-btn {
    padding: 4px;
    /* border: none; */
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.action-btn.view,
.action-btn.edit,
.action-btn.delete {
    color:rgba(2, 2, 87, 0.922);
    text-decoration: none;
}


.action-btn.view:hover, .action-btn.edit:hover, .action-btn.delete:hover{
    color: rgba(52, 152, 219, 0.831);
    transform: scale(1.5);
}

.generate-reports {
    padding: 10px 25px;
    color: rgba(2, 2, 87, 0.922);
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0;
    float: left;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

}

.generate-reports:hover {
    transform: scale(1.05);
    background-color: rgba(2, 2, 87, 0.922);
    color: whitesmoke;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    color: whitesmoke;
}

.footer p, .footer-user p {
    font-size: large;
    font-weight: 500;
    margin-top: -3px;
}

.footer-user{
    display:flex;
    justify-content: flex-end;
    margin-top: 0;
    color: rgba(2, 2, 87, 0.922);
}

/* TREASURER LOGS PART */
.date-filter {
    padding: 8px;
    font-size: 14px;
    width: 180px; 
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
    color: rgba(2, 2, 87, 0.922);
}

.tabs-container {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 15px;
    padding: 1px 2px 3px 10px;
}

.tabs {
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.tab {
    padding: 5px 25px;
    cursor: pointer;
    border: 2px solid rgba(2, 2, 87, 0.922);
    color: rgba(2, 2, 87, 0.922);
    border-radius: 20px;
    background-color: transparent;
    margin-right: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: small;
    font-weight: 600;
}

.tab:hover {
    background-color: #e7e7e7;
}

.tab.active {
    background-color: #f4f4f4;
    font-weight: 650;
}


.generate-logs {
    padding: 8px 15px;
    color: rgba(2, 2, 87, 0.922);
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0;
    float: left;
}

.generate-logs:hover {
    background-color: rgba(2, 2, 87, 0.922);
    color: whitesmoke;
}

.BTN_AddResident {
    text-decoration: none;
  }

