{% extends "shared/resident_children.html" %}

{% block userinfo %}
<div class="user-info">
    <h6 class="username">Username</h6>
    <h6 class="role">Barangay Staff</h6>
</div>
{% endblock %}

{% block nav_menu %}
<div class="nav-menu">
    <a href="{% url 'STdashboard' %}" class="{% if request.resolver_match.url_name == 'STdashboard' %}active{% endif %}">Dashboard</a>
    <a href="{% url 'STresident' %}" class="{% if request.resolver_match.url_name == 'STresident' %}active{% endif %}">Residents</a>
    <a href="#">Organization</a>
</div>
{% endblock %}

{% block back-btns %}
<a  href="{% url 'STresident_husband' %}" class="cancel-btn">Back</a>
<a  href="{% url 'STresident' %}" class="next-btn">Back to Resident</a>
{% endblock %}
