{% extends "shared/resident_parents.html" %}

{% block userinfo %}
<div class="user-info">
    <h6 class="username">Username</h6>
    <h6 class="role">Barangay Health Worker</h6>
</div>
{% endblock %}


{% block nav_menu %}
<div class="nav-menu">
    <a href="{% url 'Bdashboard' %}" class="{% if request.resolver_match.url_name == 'Bdashboard' %}active{% endif %}">Dashboard</a>
    <a href="{% url 'Bresident' %}" class="{% if request.resolver_match.url_name == 'Bresident' %}active{% endif %}">Residents</a>
    <a href="#">Household Records</a>
    <a href="#">Health Records</a>
</div>
{% endblock %}


{% block back-btns %}
<a  href="{% url 'Bresident_details' %}" class="cancel-btn">Back</a>
<a  href="{% url 'Bresident' %}" class="next-btn">Back to Resident</a>
{% endblock %}

